.AboutUs {
    display: block;
    margin-top: 120px;
}

.AboutUs__content {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.AboutUs__content_title {
    max-width: 475px;
    word-wrap: break-word;
    margin-bottom: 50px;

    font-family: 'bold_black';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 56px;

    text-align: right;

    color: Black;    
}

.AboutUs__content_title span {
    color: #FFC700; 
}


.AboutUs__content_information {
    width: 482px;
    min-height: 267px;
    background-color: black;
    margin-bottom: 80px;
}

@media screen and (max-width: 626px) {
    .AboutUs__content_information {
        display: block;
        width: 100%;
        margin: 5px !important;
    }

    .AboutUs__content_information_1::after {
        content: "";
        top: 30px !important;
        left: 20px !important; 
        opacity: 50%;
    }

    .AboutUs__content_information_2::after {
        content: "";
        top: 30px !important;
        left: 20px !important; 
        opacity: 50%;
    }
}

@media screen and (max-width: 320px) {
    .AboutUs__content_information_1,
    .AboutUs__content_information_2 {
        padding: 10px !important;
    }
}

.AboutUs__content_information_1 {
    position: relative;
    padding: 40px 94px 60px 50px;
}

.AboutUs__content_information_1::after {
    content: "";
    position: absolute;
    top: 30px;
    left: -80px;

    width: 122px;
    height: 122px;
    border-radius: 100%;
    background-color: #FFC700;
    background-image: url('../../images/about_img.png');
    background-size: 70px;
    background-position: 50% 50%;
    background-repeat: no-repeat;


}

.AboutUs__content_information_2 {
    padding: 40px 94px 60px 44px;
    position: relative;
}

.AboutUs__content_information_2::after {
    content: "";
    position: absolute;
    top: 30px;
    left: 430px;

    width: 122px;
    height: 122px;
    border-radius: 100%;
    background-color: #FFC700;
    background-image: url('../../images/about_img_2.png');
    background-size: 70px;
    background-position: 50% 50%;
    background-repeat: no-repeat;

}

.AboutUs__content_information h1 {
    font-family: 'bold_black';
    font-style: normal;
    font-weight: 900;
    font-size: 34px;
    line-height: 51px;
    color: #FFFFFF;
    
}

.AboutUs__content_information p {
    max-width: 344px;
    word-wrap: break-word;
    margin-top: 10px;

    font-family: 'Sintony_Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #FFFFFF;
}

.header__content {
    width: 100%;
    min-height: 650px;
    background-color: #FFC700;
    padding: 180px;
    
    background-image: url(../../images/header_img.png);
    background-position: 100% 0;
    background-size: 50vw 100%;
    background-repeat: no-repeat;
}

.header__content_title {
    font-family: 'bold_black';
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 60px;
}

.header__content_txt {
    font-family: 'Sintony_Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    margin-top: 30px;

    color: #222A41;
    width: 400px;
    word-wrap:break-word;
}

@media screen and (max-width: 800px) {
    .header__content_txt,
    .header__content_title {
        width: 100% !important;
    }

    .header__content {
        background-image: none;
        padding: 50px;
    }
}

@media screen and (max-width: 1251px) {
    .header__content {
        background-size: 50vw 100%;
    }

    .header__content_txt {
        color: #222A41;
        font-size: 25px;
    }
}

.header__content_button {
    width: 216px;
    height: 52px;
    background-color: black;
    margin-top: 10px;    
    cursor: pointer;
}

.header__content_button p {
    color: white;
    font-family: 'bold_black';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;

    text-align: center;
    letter-spacing: 4.2px;
    text-transform: uppercase;
}

.header {
    max-width: 100%;
    background-color: #FFFFFF;
    display: block;
}

.scroll {
    overflow: hidden;
}

.header nav {
    height: 60px;
    padding: 0px 50px 0 50px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header__logo h1 {
    font-family: 'bold_black';
    font-style: normal;
    font-weight: 900;
    font-size: 34px;
    line-height: 51px;

    color: black;
}

.header__navigation li a {
    margin-left: 43px;
    font-size: 13px;
    text-decoration: none;

    font-family: 'bold_black';
    font-style: normal;
    font-weight: 900;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.541667px;
    text-transform: uppercase;
    color: black;
    transition: color 0.25s;
}

.header__navigation li {
    display: inline;
}

.header__navigation li a:hover {
    color: rgb(45, 45, 181);
    border-bottom: black 2.5px solid;
}

.header__navigation_menu {
    position: relative;
    width: 25px;
    height: 25px;
    background: transparent;
    border: none;
    display: none;
}

.header__navigation_menu span {
    position: absolute;
    width: 25px;
    height: 2px;

    top: 2px;
    left: 1px;
    background-color: black;
    z-index: 200;
}

.header__navigation_menu span:last-child {
    top: 9px;
    left: 1px;
}

.header__navigation_menu span:first-child {
    top: 16px;
    left: 1px;
}

.inline {
    position: absolute;
    top: 0px;
    right: 0px;    
    
    width: 100%;
    height: 100%;
    opacity: 50%;
    background-color: black;
    z-index: 150;

    animation-duration: 1.75s;
    animation-name: slidein;
}

.inline * {
    color: white !important;
    z-index: 2200 !important;
}

.inline li {
    display: block !important;  
    z-index: 2200 !important;
    margin-top: 100px;
}

.inline li a {
    display: block !important;  
}

@media screen and (max-width: 900px) {
    .header__navigation li {
        display: block;
        text-align: center;
    }
    .header__navigation li a {
        font-size: 50px;
        display: none;
    }
    .header__navigation_menu {
        display: inline !important;
    }
}

@keyframes slidein {
    from {
        top: -110%;
    }
  
    to {
        top: 0px;
    }
}

.Our_projects__content_images {
    position: relative;
}

.Our_projects__content_images ul li {
    cursor: pointer;
    width: 14px;
    height: 14px;
    border-radius: 100%;
    background-color: #D8D8D8;
    margin-bottom: 25px;
    list-style-type: none;
}


.Our_projects__content_images ul {  
    margin-left: 0;
    padding-left: 0;  
    align-self: center; 
    margin: 0 53px 0 10px;
}

.Our_projects__content_images ul li a {
    cursor: pointer;   
    text-decoration: none;
}

.Our_projects__content_slider_Active {
    width: 22px !important;
    height: 22px !important;
    background-color: #FFC700 !important;
}

.Our_projects__content_images img[src="images/Our_img_1.png"] {
    max-width: 543px;
    height: auto;
    flex-wrap: wrap;
}

@media screen and (max-width: 900px) {
    .Our_projects__content_images ul {  
        margin: 0 13px 0 10px !important;
    }
}

.Our_projects__content_images img[src="images/Our_img_2.png"] {
    max-width: 448px;
    max-height: 306px;
    margin-top: 27px;
    flex-wrap: wrap;
}

.Our_projects__content_images img[src="images/Our_img_3.png"] {
    max-width: 448px;
    max-height: 500px;
    flex-wrap: wrap;
}

.Our_projects__content_div {
    display: flex;
    float: left;
    justify-content: space-between;
    margin-top: 98px;
    margin-right: 27px;
}

.Our_projects__content_div_2 {
    position: relative;
    top: -73px;    
}


.Our_projects__content_images::after {
    content: "";
    position: absolute;
    right: 300px;
    top: 420px;
    z-index: -100;

    width: 370px;
    height: 500px;

    background-color: #FFC700;
}

@media screen and (max-width: 1429px) {
    .Our_projects__content_images img[src="images/Our_img_3.png"] {
        display: none;
    }

    .Our_projects__content_images img[src="images/Our_img_2.png"] {
        display: none;
    }
}

@media screen and (max-width: 636px) {
    .Our_projects__content_images img[src="images/Our_img_1.png"] {
        max-width: 100%;
        display: block !important;
        padding: 15px !important;
    }

    .Our_projects__content_title_2 {
        max-width: 100%;
    }
    
}

@media screen and (max-width: 400px) {
    .Our_projects__content_div {
        display: block;  
    }

    .Our_projects__content_images ul li {
        display: inline;
        margin-left: 10px;
    }
}

@media screen and (max-width: 1035px) {
    .Our_projects__content_images::after {
        content: "";
        background: none;
    }
}

.Our_projects__content {
    padding: 0 163px 0 163px; 
}

@media screen and (max-width: 900px) {
    .Our_projects__content li,
    .Our_projects__content {
        padding: 0 10px 0 10px !important; 
    }
}

.Our_projects {
    position: relative;
}

.Our_projects_circle {
    position: absolute;
    width: 297px;
    height: 594px;
    border-radius: 0 100% 100% 0 / 0 50% 50% 0;
    background-color: black;
    opacity: 0.05;
}

.Our_projects__content_title {
    position: relative;
    font-family: 'bold_black';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 54px;
    color: black;
}

.Our_projects__content_title span {
    font-family: 'bold_black';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 54px;
    color: #FFC700;
}

.Our_projects__content_title::after {
    content: "";
    position: absolute;
    top: 88px;
    left: -1px;

    width: 100px;
    height: 7px;
    background-color: #FFC700;
}

@media screen and (max-width: 390px) {
    .Our_projects__content_title::after {
        content: "";
        background: none;
    }
    
    .Our_projects_circle {
        display: none;
    }
}

.Our_projects__content_title_2 {
    margin-top: 75px;
    max-width: 450px;
    word-wrap: break-word;

    font-family: 'Sintony_bold';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 51px;
    
    color: #222A41; 
}

.Our_projects__content_txt {
    margin-top: 50px;
    max-width: 450px;
    word-wrap: break-word;

    font-family: 'Sintony_Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;

    color: #222A41;    
}

body {
    height: 5000px;
}

.static_information {
    display: block;
    margin-top: 100px;
}

.static_information__content_blocks {
    background-color: black;
    width: 24.5%;
    height: 360px;

    display: inline-block;
    
    justify-content: center;
    align-items: center;
    text-align: center;
    align-self: center;
}

.static_information__content_title {
    transform: translate(0, 80%)    
}

.static_information__content_text {
    transform: translate(0, 150%)    
}

.static_information__content_blocks:nth-child(2) {
    background-color: #FFC700;
    transform: scale(1.05);
}

.static_information__content_blocks:nth-child(2) 
.static_information__content_title {
    color: white !important;
}

.static_information__content_title {
    display: block;
    font-family: 'Sintony_Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 96px;

    text-align: center;
    margin-bottom: 30px;

    color: #FFC700;

}

.static_information__content_text {
    display: inline-block;
    font-family: 'bold_black';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;

    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;    
}

@media screen and (max-width: 950px) {
    .static_information__content_blocks {
        display: block;
        width: 80%;
        margin-top: 15px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 460px) {
    .static_information__content_blocks {
        display: block;
        width: 100%;
        margin-top: 25px;
        margin-left: auto;
        margin-right: auto;
    }

    
    .static_information__content_blocks:nth-child(2) {
        transform: scale(1);
    }
}


.think_about {
    width: 100%;
    min-height: 410px;
    padding: 0 185px 0 185px;
    display: block;
    margin-top: 113px;
}

.think_about__content {
    text-align: center;
}   


.think_about__content_video {
    max-width: 543px !important;
    max-height: 320px !important;
    cursor: pointer;
    display: inline-flex;
}

@media screen and (max-width: 800px) {

    .think_about__content_txt {
        display: block !important;
        margin: 0 10px 0 10px !important;
        text-align: start;
    }
}

@media screen and (max-width: 880px) {
    .think_about {
        padding: 10px;
        margin-top: 213px;
    }
}


.think_about__content_txt {
    display: inline-block;
    margin-left: 100px;
    text-align: start;
}

.think_about__content_title {
    word-wrap: break-word;

    font-family: 'bold_black';
    font-style: normal;
    font-weight: 900;
    font-size: 34px;
    line-height: 51px;

    color: black;
    margin-bottom: 30px;    
}

.think_about__content_title span{
    color: #FFC700;
}



.think_about__content_text {
    font-family: 'Sintony_Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 34px;

    color: black;

    margin-top: 30px;    
}


.think_about__content_text li {
    list-style-type: circle;
    margin-left: 20px;
}


.think_about__content_button {
    width: 170px;
    height: 42px;
    margin-top: 30px;
    background-color: black;

}

.think_about__content_button p {
    font-family: 'bold_black';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 24px;
    
    text-align: center;
    letter-spacing: 3.08px;
    text-transform: uppercase;
    color: white;
}