.Our_projects__content_images {
    position: relative;
}

.Our_projects__content_images ul li {
    cursor: pointer;
    width: 14px;
    height: 14px;
    border-radius: 100%;
    background-color: #D8D8D8;
    margin-bottom: 25px;
    list-style-type: none;
}


.Our_projects__content_images ul {  
    margin-left: 0;
    padding-left: 0;  
    align-self: center; 
    margin: 0 53px 0 10px;
}

.Our_projects__content_images ul li a {
    cursor: pointer;   
    text-decoration: none;
}


.Our_projects__content_slider_Active {
    width: 22px !important;
    height: 22px !important;
    background-color: #FFC700 !important;
}


.Our_projects__content_images img[src="images/Our_img_1.png"] {
    max-width: 543px;
    height: auto;
    flex-wrap: wrap;
}


@media screen and (max-width: 900px) {
    .Our_projects__content_images ul {  
        margin: 0 13px 0 10px !important;
    }
}

.Our_projects__content_images img[src="images/Our_img_2.png"] {
    max-width: 448px;
    max-height: 306px;
    margin-top: 27px;
    flex-wrap: wrap;
}

.Our_projects__content_images img[src="images/Our_img_3.png"] {
    max-width: 448px;
    max-height: 500px;
    flex-wrap: wrap;
}


.Our_projects__content_div {
    display: flex;
    float: left;
    justify-content: space-between;
    margin-top: 98px;
    margin-right: 27px;
}

.Our_projects__content_div_2 {
    position: relative;
    top: -73px;    
}


.Our_projects__content_images::after {
    content: "";
    position: absolute;
    right: 300px;
    top: 420px;
    z-index: -100;

    width: 370px;
    height: 500px;

    background-color: #FFC700;
}

@media screen and (max-width: 1429px) {
    .Our_projects__content_images img[src="images/Our_img_3.png"] {
        display: none;
    }

    .Our_projects__content_images img[src="images/Our_img_2.png"] {
        display: none;
    }
}

@media screen and (max-width: 636px) {
    .Our_projects__content_images img[src="images/Our_img_1.png"] {
        max-width: 100%;
        display: block !important;
        padding: 15px !important;
    }

    .Our_projects__content_title_2 {
        max-width: 100%;
    }
    
}



@media screen and (max-width: 400px) {
    .Our_projects__content_div {
        display: block;  
    }

    .Our_projects__content_images ul li {
        display: inline;
        margin-left: 10px;
    }
}


@media screen and (max-width: 1035px) {
    .Our_projects__content_images::after {
        content: "";
        background: none;
    }
}
